{:kotoba.app/id "cloud.itonami.isic-0145", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicadedcyv55hi4afd3yvjcwtvdaqznppggmnv7ngd2rgyh5njoj5a", :kotoba.app/embed-url "ipfs://bafkreicadedcyv55hi4afd3yvjcwtvdaqznppggmnv7ngd2rgyh5njoj5a", :published {:archive "https://kotobase.net/ipfs/bafkreicadedcyv55hi4afd3yvjcwtvdaqznppggmnv7ngd2rgyh5njoj5a", :size 72281, :put-status 201, :get-status 200, :at "2026-08-15T13:56:35.698Z"}}
